.sort {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.sort__button {
  max-width: 100px;
  width: 100%;
  border: none;
  cursor: pointer;

  &:hover {
    background: lightblue;
  }
}

.sort__button--alive {
  background-color: lightgreen;
}

.sort__button--dead {
  background-color: palevioletred;
}

.sort__button--unknown {
  background-color: darkgrey;
}

.characters {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 40px;
}

.character__card {
  max-width: 250px;
  width: 100%;
  border: 1px solid black;
  background-color: white;
}

.character__info {
  margin: 10px;
}

.character__details {
  margin-top: 10px;
}

.character__details--btn {
  border: none;
  background-color: orange;
  color: white;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
    background-color: lightgreen;
  }
}
